# oclif default
*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/yarn.lock
oclif.manifest.json
.eslintcache

# for ease of development
/fluence.yaml
/hosts.yaml
/workers.yaml
/deals.yaml
src/aqua
src/services
src/ts
src/js
schemas
.env
Cargo.lock
Cargo.toml

# recommended by Fluence
.idea
.DS_Store
.fluence
**/node_modules
**/target/
.repl_history
.vscode/settings.json
src/ts/src/aqua
src/js/src/aqua

# ignore compiled files
src/lib/compiled-aqua
src/lib/compiled-aqua-with-tracing
src/versions
