# oclif default
*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
oclif.manifest.json
.eslintcache

# for ease of development
/schemas
/.f
.env

# recommended by Fluence
.idea
.DS_Store
.fluence
**/node_modules
**/target/
.repl_history
.vscode/settings.json

# ignore compiled files
src/lib/compiled-aqua
src/lib/compiled-aqua-with-tracing
src/versions
src/aqua-dependencies

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
