# These environment variables are used for testing
# You can rename this file into .env if you want it to be used

# WARNING! Only variables listed at `test/environment.d.ts` will work automatically
# For the rest of them you will have to execute
# export VARIABLE_NAME="variable_value"

# Fluence network to use. Can be 'stage', 'testnet', 'kras' or 'local'
# 'local' multiaddresses are hardcoded at `test/localNodes.ts`
FLUENCE_ENV="local"

# example of cargo env variables
CARGO_REGISTRIES_FLUENCE_INDEX="git://crates.fluence.dev/index"
CARGO_REGISTRIES_FLUENCE_TOKEN="<token>"
CARGO_REGISTRY_DEFAULT="fluence"

# example of npm env variables
# You also need to do `npm login --registry=https://npm.fluence.dev` after that
NPM_CONFIG_REGISTRY="https://npm.fluence.dev"
