# oclif default
**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
oclif.lock
oclif.manifest.json
.eslintcache
# tmp
# !tmp/cache

# for ease of development
/schemas
/.f
.env

# recommended by Fluence
.idea
.DS_Store
.fluence
**/target/
.repl_history

# ignore compiled files
src/lib/compiled-aqua
src/lib/compiled-aqua-with-tracing
src/versions
src/aqua-dependencies
