name: "docs"

on:
  pull_request:
    paths-ignore:
      - "!**.md"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  CI: true
  FORCE_COLOR: true

jobs:
  docs:
    name: Generate docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8

      - name: Setup node with self-hosted npm registry
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          registry-url: "https://npm.fluence.dev"
          cache: "pnpm"

      - run: pnpm i

      - name: Setup golang
        uses: actions/setup-go@v4

      - name: Install json-schema-docs
        run: go install github.com/marcusolsson/json-schema-docs@latest

      - name: Run on each commit
        env:
          FLUENCE_USER_DIR: "${{ github.workspace }}/tmp/.fluence"
        run: pnpm on-each-commit

      - name: Auto-commit
        uses: stefanzweifel/git-auto-commit-action@v4
