name: "docs"

on:
  pull_request:
    paths-ignore:
      - "!**.md"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  CI: true
  FORCE_COLOR: true
  FLUENCE_USER_DIR: "${{ github.workspace }}/tmp/.fluence"

jobs:
  docs:
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    name: Generate docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FLUENCEBOT_RELEASE_PLEASE_PAT }}

      - name: Setup node with self-hosted npm registry
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          registry-url: "https://npm.fluence.dev"
          cache: "yarn"

      - run: yarn install

      - name: Patch oclif
        run: yarn patch-oclif
        working-directory: scripts

      - name: Setup golang
        uses: actions/setup-go@v5

      - name: Install json-schema-docs
        run: go install github.com/marcusolsson/json-schema-docs@latest

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Prepare Fluence CLI for packing
        run: yarn before-build

      - name: Build Fluence CLI
        run: yarn build-cli

      - name: Run on each commit
        working-directory: apps/cli
        run: yarn on-each-commit

      - name: Auto-commit
        uses: stefanzweifel/git-auto-commit-action@v5
