name: Build fluence-cli snapshot

on:
  workflow_call:
    inputs:
      ref:
        description: "Git ref to checkout to"
        type: string
        default: "main"
      aqua-version:
        description: "@fluencelabs/aqua version"
        type: string
        default: "null"
      marine-version:
        description: "marine version"
        type: string
        default: "null"
      mrepl-version:
        description: "mrepl version"
        type: string
        default: "null"
      marine-rs-sdk-version:
        description: "marine-rs-sdk version"
        type: string
        default: "null"
      marine-rs-sdk-test-version:
        description: "marine-rs-sdk-test version"
        type: string
        default: "null"
      js-client-snapshots:
        description: "js-client snapshots"
        type: string
        default: "null"
    outputs:
      version:
        description: "@fluencelabs/cli version"
        value: ${{ jobs.snapshot.outputs.version }}

env:
  CI: true
  FORCE_COLOR: true

jobs:
  snapshot:
    name: "Build snapshot"
    runs-on: ubuntu-latest

    outputs:
      version: "${{ steps.snapshot.outputs.version }}"

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout fluence-cli
        uses: actions/checkout@v3
        with:
          repository: fluencelabs/fluence-cli
          ref: ${{ inputs.ref }}

      - name: Import secrets
        uses: hashicorp/vault-action@v2.5.0
        id: secrets
        with:
          url: https://vault.fluence.dev
          path: jwt/github
          role: ci
          method: jwt
          jwtGithubAudience: "https://github.com/fluencelabs"
          jwtTtl: 300
          exportToken: false
          secrets: |
            kv/npm-registry/basicauth/ci token | NODE_AUTH_TOKEN;
            kv/cargo-registry/users/ci token | CARGO_REGISTRIES_FLUENCE_TOKEN

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 7

      - name: Setup node with self-hosted npm registry
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          registry-url: "https://npm.fluence.dev"
          cache: "pnpm"

      - run: pnpm i

      - name: Set js-client.api version
        if: inputs.js-client-snapshots != 'null'
        uses: fluencelabs/github-actions/npm-set-dependency@main
        with:
          package: "@fluencelabs/js-client.api"
          version: ${{ fromJson(inputs.js-client-snapshots)['js-client.api'] }}
          package-manager: pnpm

      - name: Set js-client.node version
        if: inputs.js-client-snapshots != 'null'
        uses: fluencelabs/github-actions/npm-set-dependency@main
        with:
          package: "@fluencelabs/js-client.node"
          version: ${{ fromJson(inputs.js-client-snapshots)['js-client.node'] }}
          package-manager: pnpm

      - name: Set aqua-api version
        if: inputs.aqua-version != 'null'
        uses: fluencelabs/github-actions/npm-set-dependency@main
        with:
          package: "@fluencelabs/aqua-api"
          version: ${{ inputs.aqua-version }}
          package-manager: pnpm

      - name: Update versions.json
        uses: ./.github/actions/replace-version
        with:
          versions: |
            {
              "npm": {
                "@fluencelabs/aqua": "${{ inputs.aqua-version }}",
                "@fluencelabs/js-client.api": "${{ inputs.js-client-snapshots == 'null' && 'null' || fromJson(inputs.js-client-snapshots)['js-client.api'] }}",
                "@fluencelabs/js-client.node": "${{ inputs.js-client-snapshots == 'null' && 'null' || fromJson(inputs.js-client-snapshots)['js-client.node'] }}"
              },
              "cargo": {
                "marine": "${{ inputs.marine-version }}",
                "mrepl": "${{ inputs.mrepl-version }}",
                "marine-rs-sdk": "${{ inputs.marine-rs-sdk-version }}",
                "marine-rs-sdk-test": "${{ inputs.marine-rs-sdk-test-version }}"
              }
            }

      - name: Generate snapshot version
        id: version
        uses: fluencelabs/github-actions/generate-snapshot-id@main

      - name: Publish snapshot
        id: snapshot
        uses: fluencelabs/github-actions/pnpm-publish-snapshot@main
        with:
          id: ${{ steps.version.outputs.id }}
          set-version: true

      - name: Setup dasel
        if: always()
        uses: allejo/setup-dasel@v1
        with:
          version: 1.27.3

      - name: Print versions to check summary
        if: always()
        run: |
          cat <<SNAPSHOT >> $GITHUB_STEP_SUMMARY
          ## Used versions
          | name      | version                                                              |
          | --------- | -------------------------------------------------------------------- |
          | avm       | $(pnpm list --no-color --json | dasel -p json -m --plain '(?:-=@fluencelabs/avm).version') |
          | aqua-api  | $(pnpm list --no-color --json | dasel -p json -m --plain '(?:-=@fluencelabs/aqua-api).version') |
          SNAPSHOT
