name: Run tests with workflow_call

on:
  workflow_call:
    inputs:
      ref:
        description: "Git ref to checkout to"
        type: string
        default: "main"
      fluence-env:
        description: "Fluence enviroment to run tests agains"
        type: string
        default: "kras"
      rust-peer-image:
        description: "rust-peer image tag"
        type: string
        default: "fluencelabs/fluence:minimal"
      marine-version:
        description: "marine version"
        type: string
        default: "null"
      fluence-js-version:
        description: "@fluencejs/fluence version"
        type: string
        default: "null"
    outputs:
      fluence-cli-version:
        description: "@fluencelabs/cli version"
        value: ${{ jobs.tests.outputs.version }}

env:
  FORCE_COLOR: true
  RUST_PEER_IMAGE: "${{ inputs.rust-peer-image }}"

jobs:
  tests:
    name: "Run tests"
    runs-on: builder

    outputs:
      version: "${{ steps.snapshot.outputs.version }}"

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout fluence-cli
        uses: actions/checkout@v3
        with:
          repository: fluencelabs/fluence-cli
          ref: ${{ inputs.ref }}

      - name: Import secrets
        uses: hashicorp/vault-action@v2.4.3
        id: secrets
        with:
          url: https://vault.fluence.dev
          path: jwt/github
          role: ci
          method: jwt
          jwtGithubAudience: "https://github.com/fluencelabs"
          jwtTtl: 300
          exportToken: false
          secrets: |
            kv/docker-registry/basicauth/ci username | DOCKER_USERNAME ;
            kv/docker-registry/basicauth/ci password | DOCKER_PASSWORD ;
            kv/npm-registry/basicauth/ci token | NODE_AUTH_TOKEN;
            kv/cargo-registry/users/ci token | CARGO_REGISTRIES_FLUENCE_TOKEN

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.fluence.dev
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Pull rust-peer image
        run: docker pull ${{ env.RUST_PEER_IMAGE }}

      - name: Run rust-peer
        uses: isbang/compose-action@v1.4.1
        with:
          compose-file: ".github/e2e/docker-compose.yml"
          down-flags: "--volumes"

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup node with self-hosted npm registry
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          registry-url: "https://npm.fluence.dev"
          cache: "npm"

      - run: npm i

      - name: Set fluence-js version
        if: inputs.fluence-js-version != 'null'
        uses: fluencelabs/github-actions/npm-set-dependency@main
        with:
          package: "@fluencelabs/fluence"
          version: ${{ inputs.fluence-js-version }}

      - name: Set marine version
        if: inputs.marine-version != 'null'
        run: echo "CARGO_REGISTRY_DEFAULT=fluence" >> $GITHUB_ENV

      - run: npm run build

      - name: Run tests
        env:
          FLUENCE_ENV: "${{ inputs.fluence-env }}"
          CARGO_REGISTRIES_FLUENCE_INDEX: "git://crates.fluence.dev/index"
          CARGO_REGISTRIES_FLUENCE_TOKEN: "${{ steps.secrets.outputs.CARGO_REGISTRIES_FLUENCE_TOKEN }}"
          NPM_CONFIG_REGISTRY: "https://npm.fluence.dev"
        run: npm run test

      - run: |
          sudo apt-get install tree -y
          tree -a ~/.fluence
        if: always()

      - name: Generate snapshot version
        id: version
        uses: fluencelabs/github-actions/generate-snapshot-id@main

      - name: Publish snapshot
        id: snapshot
        uses: fluencelabs/github-actions/npm-publish-snapshot@main
        with:
          id: ${{ steps.version.outputs.id }}

      - name: Setup dasel
        if: always()
        uses: allejo/setup-dasel@v1
        with:
          version: 1.27.3

      - name: Print versions to check summary
        if: always()
        run: |
          cat <<SNAPSHOT >> $GITHUB_STEP_SUMMARY
          ## Used versions
          | name       | version                                                              |
          | ---------- | -------------------------------------------------------------------- |
          | avm        | $(dasel -f package-lock.json -p json -m --plain 'packages.(?:-=node_modules/@fluencelabs/avm).version') |
          | marine-js  | $(dasel -f package-lock.json -p json -m --plain 'packages.(?:-=node_modules/@fluencelabs/marine-js).version') |
          | fluence-js | $(dasel -f package-lock.json -p json -m --plain 'packages.(?:-=node_modules/@fluencelabs/fluence).version') |
          SNAPSHOT

      - name: Dump rust-peer logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
